{{ partial "head.html" . }}
    <body>
        <section id="home" class="container">
            <div class="wrapper">
                {{ partial "nav.html" . }}
            </div>
        </section>
        <section class="container">
            <div class="wrapper">
            <article>
                <header class="post-header">
                    <h2 class="post-subtitle">
                        {{ if eq .Site.Language.Lang "es" }}
                            {{ index $.Site.Data.es.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
                        {{ else }}
                            {{ index $.Site.Data.en.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
                        {{ end }}
                    </h2>
                    <h1 class="post-title">{{ .Title }}</h1>
                </header>
                <section class="post-content">
                    {{ .Content }}
                </section>
            </article>

            <hr>

            {{ if .Site.Params.showLatestPosts }}
                {{ partial "latest-posts.html" . }}
            {{ end }}
            </div>
        </section>

        <section id="footer" class="container">
            <div class="wrapper">
                {{ partial "footer.html"     . }}
            </div>
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
