{{ partial "head.html" . }}
    <body>

        <section id="home" class="container">
            <div class="wrapper">
                {{ partial "nav.html" . }}
            </div>
        </section>
        <section class="container">
            <div class="wrapper">
            <article>
                <header class="post-header">
                    <h1 class="post-title">{{ .Title }}</h1>
                    <h2 class="post-subtitle">
                    {{ .Date.Format "Jan 2006" }}
                    · {{ .ReadingTime }} minute read
                    </h2>
                </header>
                <section class="post-content">
                    {{ .Content }}
                </section>
            </article>

            <hr>

            {{ if .Site.Params.showLatestPosts }}
                {{ partial "latest-posts.html" . }}
            {{ end }}
            </div>
        </section>

        <section id="posts" class="container">
            <div class="wrapper">
                {{ partial "footer.html"     . }}
            </div>
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
