
{{ $kind := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $posts := where $kind "URL" "!=" .URL }}
{{ if gt (len $posts) 0 }}

<h2 class="section-title">{{ .Site.Params.readMore | default "Read more" }}</h2>
<ul class="post-list">
    {{ range first 4 $posts }}
        <li>
            <a href='{{ .Permalink }}'>
                <h4 class="post-list-title">{{ .Title }}</h4>
                {{ if .Site.Params.enableSummary }}
                    {{ if .Site.Params.useDescriptionReplaceSummary }}
                        <div class="post-list-description">{{ .Description | plainify }}</div>
                    {{ else }}
                    <div class="post-list-description">{{ .Summary | plainify | htmlUnescape }}</div>
                    {{ end }}
                {{ end }}
            </a>
        </li>
    {{ end }}
</ul>
{{ end }}

