{{ partial "head.html" . }}
    <body>

    <section id="home" class="container">
        <div class="wrapper">
            {{ partial "profile.html" . }}
        </div>
    </section>

    {{ if gt (len .Paginator.Pages) 0 }}
    <section id="posts" class="container">
        <div class="wrapper">
            {{ partial "post-list.html"  . }}
            {{ partial "pagination.html" . }}
        </div>
    </section>
    {{ end }}

    <section id="posts" class="container">
        <div class="wrapper">
            {{ partial "footer.html"     . }}
        </div>
    </section>

    {{ partial "js.html" . }}
    </body>
</html>
